
body{
  display: flex;
  flex-direction: column;
}

/* Настройки HEADER */ /* Настройки HEADER */ /* Настройки HEADER */ /* Настройки HEADER */ 

.header {
  display: grid;
  grid-template-columns: 453px 240.52px auto;
  grid-template-rows: 1fr;
  background-color: aliceblue;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 0;
  
}

.menu {
  align-self: center;
  background-color: yellow;
  width: 391.48px;
  height: 22px;
  margin-left: 26.52px;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
  font-style: normal;
  padding-top: 3px;
  text-transform: underline;  
  letter-spacing: 1%;
  text-underline-offset: 4px;
}

.main_li {
  list-style-type: none;
  flex-direction: row;
}

.lots_li,
.auction_li {
  list-style-type: circle;
  flex-direction: row;
}

.list_ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 105px;
  margin-left: 10px;
  margin-top: 1px;
}

.background_svg_head {
  width: 148px;
  height: 105px;
}

.logo_head {
  position: relative;
  width: 129.11px;
  height: 104.65px;
  left:0;
  bottom: 0;
}

.adress_head {
  width: 240.52px;
  height: 98px;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  font-style: normal;
  margin-top: 6.5px;
  margin-right: 24.5px;
}

.nomberphone_head {
  width: 240px;
  height: 24px;
  top: 5px;
  left: 786.52px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  text-underline-position: under;
  text-underline-offset: 0.8px;
}

.email_head {
width: 240px;
height: 24px;
top: 29px;
left: 786px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
text-underline-offset: 2.5px;
}

.place_head {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.main_no_decor {
  text-decoration: none;
}

/* Секция COVER */ /* Секция COVER */ /* Секция COVER */ /* Секция COVER */ /* Секция COVER */

.cover {
  margin-top: 96px;
  width: 1100px;
  height: 757px;
  display: grid;
}

/* ЗАГОЛОВОК *//* ЗАГОЛОВОК *//* ЗАГОЛОВОК *//* ЗАГОЛОВОК *//* ЗАГОЛОВОК */

.title_for_all {
  display: flex;
  justify-content: start;
  align-items: end;
  color: white;
  z-index: 2;
}

.title1 {
  grid-area: 1/1/2/3;
  padding-left: 50px;
  padding-bottom: 20px;
   
}
.title2 {
  grid-area: 2/1/3/4;
  padding-left: 340px;
  padding-bottom: 20px;
}

.title3 {
  grid-area: 3/2/4/4;
  padding-left: 265px;
  padding-bottom: 20px;
}

/* ЗАГОЛОВОК SPAN *//* ЗАГОЛОВОК SPAN *//* ЗАГОЛОВОК SPAN *//* ЗАГОЛОВОК SPAN */

.O {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;

}

.NO {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.6em;
  text-align: left;
}

.TE {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: left;
}

.BE {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: left;
}

.NO {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: right;
  
}

.AD {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: right;
}

/* ПОДЗАГОЛОВОК COVER*//* ПОДЗАГОЛОВОК COVER*//* ПОДЗАГОЛОВОК COVER*//* ПОДЗАГОЛОВОК COVER*/

.subtitle_cover {
  grid-area: 4/1/5/3;
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left; 
  padding-top: 128px;
  padding-left: 80px;
  text-transform: uppercase; 
  word-spacing: 16px;
  z-index: 2;

}

.letter_spacing_cover {
  word-spacing: 20px;
}

/* КНОПКА *//* КНОПКА *//* КНОПКА *//* КНОПКА *//* КНОПКА */

.button_cover {
    display: flex;
    grid-area: 4/3/5/4;
    color: white;
    width: 256px;
    height: 51px;
    border: 1px solid white;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    place-self: center;
    margin-top: 115px;
    margin-left: 10px;
    z-index: 2;
}

.btn_stavka {
  text-decoration: none;
}

/*ФОН*//*ФОН*//*ФОН*//*ФОН*//*ФОН*//*ФОН*//*ФОН*//*ФОН*/

.img_back_cover {
  background-image: url(/images/cover.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: 1/1/5/4;
}

/*overley*//*overley*//*overley*//*overley*//*overley*/

.overley{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover_position {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 120px 120px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/*section lots*//*section lots*//*section lots*//*section lots*//*section lots*//*section lots*/

.lots{
  margin: 179px auto 0;
  display: grid;
  width: 1052px;
  height: 692px;
  grid-template-rows: 74px 563px auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.lots_sbtwn {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: space-between;
}

/* card 1*//* card 1*//* card 1*//* card 1*//* card 1*//* card 1*//* card 1*/

.card1_position {
  display: flex;
  width: 334px;
  height: 563px;
  grid-area: 2/1/3/2;
}

.img_back_card1{
  background-image: url(/images/card-lot-01.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card1_parameter{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title_lots {
  margin-top: 0;
  margin-left: 40px;
  width: 121px;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;

}

.title_card1 {
  margin-top: 52px;
  width: 254px;
  height: 82px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: white;
  text-transform: uppercase;

}

.paragraph_card1 {
  margin-bottom: 46px;
  width: 254px;
  height: 144px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.card1_title_link {
  text-underline-offset: 2px;
}

/*card 2*//*card 2*//*card 2*//*card 2*//*card 2*//*card 2*//*card 2*/

.card2_position {
  display: flex;
  width: 334px;
  height: 563px;
  grid-area: 2/1/3/2;
}

.img_back_card2{
  background-image: url(/images/card-lot-02.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card2_parameter{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title_card2 {
  margin-top: 52px;
  width: 254px;
  height: 110px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: white;
  text-transform: uppercase;

}

.paragraph_card2 {
  margin-top: -5px;
  width: 254px;
  height: 360px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.card2_title_link {
  text-underline-offset: 2px;
}

/*card 3*//*card 3*//*card 3*//*card 3*//*card 3*//*card 3*//*card 3*/

.card3_position {
  display: flex;
  width: 334px;
  height: 563px;
  grid-area: 2/1/3/2;
}

.img_back_card3{
  background-image: url(/images/card-lot-03.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card3_parameter{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title_card3 {
  margin-top: 3px;
  width: 254px;
  height: 110px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: white;
  text-transform: uppercase;

}

.paragraph_card3 {
  width: 254px;
  height: 264px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.span_card3 {
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.13em;
text-align: left;
}

.card3_title_link {
  text-underline-offset: 2px;
}

/* ссылка посмотреть больше*//* ссылка посмотреть больше*//* ссылка посмотреть больше*/

.seamore_link {
  width: 192px;
  height: 23px;
  margin-left: 40px;
  grid-area: 3/1/4/2;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  align-self: flex-end;
}

.link_seamore_lots {
text-underline-offset: 5px;
}

/*Секция ЭБАУТ*//*Секция ЭБАУТ*//*Секция ЭБАУТ*//*Секция ЭБАУТ*//*Секция ЭБАУТ*/

.about {
  margin: 146px auto 0;
  width: 1052px;
  height: 595px; 
  display: grid;
  grid-template-columns: 352px 700px;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

}

/*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*//*ЛОГОТИП*/

.about_logo_position {
  padding-top: 35px;
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 334px;
  height: 563px;
}

.background_logo_circle {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background: rgb(0, 0, 0); 
  -moz-border-radius: 120px; 
  -webkit-border-radius: 120px; 
  border-radius: 120px;
}

.about_logo {
  width: 148px;
  height: 114px;
  color: white;
}

/*Столбец ОБ АУКЦИОНЕ*//*Столбец ОБ АУКЦИОНЕ*//*Столбец ОБ АУКЦИОНЕ*/

.about_content_position {
  display: flex;
  width: 693px;
  height: 449px;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.p1_and_p2 {
  display: flex;
  width: 693px;
  height: 312px;
  flex-direction: column;
  justify-content: space-between;
}

.title_about_auction {
  margin-top: -8px;
  margin-left: 6px;
  width: 291px;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.content1_about_auction {
  margin-left: 6px;
  width: 688px;
  height: 120px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left; 
}

.p1_paphos{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.p1_our {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.p1_in_apple {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.p1_diary {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.content2_about_auction {
  margin-left: 6px;
  width: 693px;
  height: 168px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;  
}

.p2_they {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.p2_bad {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}