body{
  display: flex;
  flex-direction: column;
}

/* Настройки HEADER */

.header {
  display: grid;
  grid-template-columns: 453px 240.52px auto;
  grid-template-rows: 1fr;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 0;
  
}

.menu{
  grid-area: 1/1/2/2;
  align-self: center;
  width: 391.48px;
  height: 22px;
  margin-left: 26.52px;
  padding-top: 3px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;  
  letter-spacing: 1%;
  text-underline-offset: 4px;
}

.main_li {
  flex-direction: row;
  list-style-type: none;
}

.lots_li,
.auction_li {
  flex-direction: row;
  list-style-type: circle;
}

.list_ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: grid;
  grid-area: 1/2/2/3;
  place-self: start;
  width: 140px;
  height: 105px;
  margin-left: 10px;
  
}

.logo_position {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 135px;
  height: 105px;
  margin-top: 2px;
  margin-left: -2px;
}

.logo_head {
  width: 100%;
  height: 100%;
}

.adress_head {
  grid-area: 1/3/2/4;
  justify-self: end;
  width: 240.52px;
  height: 98px;
  margin-top: 6.5px;
  margin-right: 24.5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.nomberphone_head {
  top: 5px;
  left: 786.52px;
  gap: 0px;
  width: 240px;
  height: 24px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  text-underline-offset: 0.8px;
  text-underline-position: under;
}

.email_head {
top: 29px;
left: 786px;
gap: 0px;
width: 240px;
height: 24px;
border: 1px 0px 0px 0px;
opacity: 0px;
text-underline-offset: 2.5px;
}

.place_head {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.main_no_decor {
  text-decoration: none;
}

/* Секция COVER */

.cover {
  display: grid;
  width: 1100px;
  height: 757px;
  margin-top: 96px;
}

/* ЗАГОЛОВОК */

.title_for_all {
  z-index: 2;
  display: flex;
  justify-content: start;
  align-items: end;
  color: white;
}

.title1 {
  grid-area: 1/1/2/3;
  padding-bottom: 20px;
  padding-left: 50px;
   
}
.title2 {
  grid-area: 2/1/3/4;
  padding-bottom: 20px;
  padding-left: 340px;
}

.title3 {
  grid-area: 3/2/4/4;
  padding-bottom: 20px;
  padding-left: 265px;
}

/* ЗАГОЛОВОК SPAN */

.O {
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;

}

.NO {
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.6em;
  text-align: left;
}

.TE {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: left;
}

.BE {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: left;
}

.NO {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: right;
  
}

.AD {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: right;
}

/* ПОДЗАГОЛОВОК COVER*/

.subtitle_cover {
  z-index: 2;
  grid-area: 4/1/5/3; 
  padding-top: 128px;
  padding-left: 80px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase; 
  word-spacing: 16px;

}

.letter_spacing_cover {
  word-spacing: 20px;
}

/* КНОПКА */

.button_cover {
    z-index: 2;
    display: flex;
    grid-area: 4/3/5/4;
    place-self: center;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 51px;
    margin-top: 115px;
    margin-left: 10px;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    text-transform: uppercase;
}

.btn_stavka {
  text-decoration: none;
}

/*ФОН*/

.img_back_cover {
  grid-area: 1/1/5/4;
  width: 100%;
  height: 100%;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

/*overley*/

.overley{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover_position {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 120px 120px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/*section lots*/

.lots{
  display: grid;
  grid-template-rows: 74px 563px auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 1052px;
  height: 692px;
  margin: 179px auto 0;
}

.lots_sbtwn {
  display: flex;
  grid-area: 2/1/3/2;
  justify-content: space-between;
}

/* card 1*/

.card1_position {
  display: flex;
  grid-area: 2/1/3/2;
  width: 334px;
  height: 563px;
}

.img_back_card1{
  width: 100%;
  height: 100%;
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card1_parameter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title_lots {
  width: 121px;
  height: 47px;
  margin-top: 0;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;

}

.title_card1 {
  width: 254px;
  height: 82px;
  margin-top: 52px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;

}

.paragraph_card1 {
  width: 254px;
  height: 144px;
  margin-bottom: 46px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.card1_title_link {
  text-underline-offset: 2px;
}

/*card 2*/

.card2_position {
  display: flex;
  grid-area: 2/1/3/2;
  width: 334px;
  height: 563px;
}

.img_back_card2{
  width: 100%;
  height: 100%;
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card2_parameter{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title_card2 {
  width: 254px;
  height: 110px;
  margin-top: 52px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;

}

.paragraph_card2 {
  width: 254px;
  height: 360px;
  margin-top: -5px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.card2_title_link {
  text-underline-offset: 2px;
}

/*card 3*/

.card3_position {
  display: flex;
  grid-area: 2/1/3/2;
  width: 334px;
  height: 563px;
}

.img_back_card3{
  width: 100%;
  height: 100%;
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card3_parameter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.title_card3 {
  width: 254px;
  height: 110px;
  margin-top: 3px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;

}

.paragraph_card3 {
  width: 254px;
  height: 264px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.span_card3 {
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.13em;
text-align: left;
}

.card3_title_link {
  text-underline-offset: 2px;
}

/* ссылка посмотреть больше*/

.seamore_link {
  grid-area: 3/1/4/2;
  align-self: flex-end;
  width: 192px;
  height: 23px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
}

.link_seamore_lots {
text-underline-offset: 5px;
}

/*Секция ABOUT*/

.about { 
  display: grid;
  grid-template-columns: 352px 700px;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 1052px;
  height: 595px;
  margin: 146px auto 0;

}

/*ЛОГОТИП ABOUT*/

.about_logo_position {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: start;
  width: 334px;
  height: 563px;
  padding-top: 35px;
}

.background_logo_circle {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px; 
  -moz-border-radius: 120px; 
  -webkit-border-radius: 120px; 
  border-radius: 120px;
  background: rgb(0, 0, 0);
}

.about_logo {
  width: 148px;
  height: 114px;
  color: white;
}

/*Столбец ОБ АУКЦИОНЕ*/

.about_content_position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  width: 693px;
  height: 449px;
}

.p1_and_p2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 693px;
  height: 312px;
}

.title_about_auction {
  width: 291px;
  height: 47px;
  margin-top: -8px;
  margin-left: 6px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.content1_about_auction {
  width: 688px;
  height: 120px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left; 
}

.p1_paphos{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.p1_our {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.p1_in_apple {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.p1_diary {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.content2_about_auction {
  width: 693px;
  height: 168px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;  
}

.p2_they {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.p2_bad {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

/*FOOTER*/

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  gap: 0;
  width: 1000px;
  height: 98px;
  margin: 180px auto 88px;
}

/*ADRESS footer*/

.adress_footer {
grid-area: 1/1/2/2;
justify-self: flex-start;
width: 240.52px;
height: 98px;
margin-top: 2px;
font-weight: 400;
font-size: 18px;
line-height: 24.3px;
letter-spacing: 0.01em;
text-align: left;

}

/*menu footer*/

.menu_footer {
grid-area: 1/2/2/3;
justify-self: center;
align-self: flex-start;
width: 149px;
height: 64px;
margin-top: 2px;
font-weight: 400;
font-size: 18px;
line-height: 21.13px;
text-align: center;
text-underline-offset: 4px;
}

.list_ul_footer,
.lots_li_footer,
.auction_li_footer {
  list-style-type: none;
}

/*LOGO FOOTER */

.logo_footer {
display: flex;
justify-self: end;
justify-content: space-between;
width: 240px;
height: 48px;
}

#img_ft_yt,
#img_ft_vk,
#img_ft_pt {
  width: 48px;
  height: 48px;
}
