body{
  display: flex;
}

.header {
  display: grid;
  grid-template-columns: 453px 240.52px auto;
  grid-template-rows: 1fr;
  background-color: aliceblue;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 0;
  
}

.menu {
  /*justify-self:center;*/
  align-self: center;
  background-color: yellow;
  width: 391.48px;
  height: 22px;
  margin-left: 26.52px;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
  font-style: normal;
  padding-top: 3px;
  text-transform: underline;  
  letter-spacing: 1%;
  text-underline-offset: 4px;
}

.main_li {
  list-style-type: none;
  flex-direction: row;
}

.lots_li,
.auction_li {
  list-style-type: circle;
  flex-direction: row;
}

.list_ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 129.11px;
  height: 105px;
  margin-left: 10px;
  margin-top: 1px;
}

.background_svg_head {
  width: 148px;
  height: 105px;
}

.logo_head {
  position: relative;
  width: 129.11px;
  height: 104.65px;
  left:0;
  bottom: 0;
}
.adress_head {
  width: 240.52px;
  height: 98px;
  justify-self: end;
  /*align-self: stretch;*/
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  font-style: normal;
  margin-top: 6.5px;
  margin-right: 24.5px;
  

}

.nomberphone_head {
  width: 240px;
  height: 24px;
  top: 5px;
  left: 786.52px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  text-underline-position: under;
  text-underline-offset: 0.8px;
}
.email_head {
width: 240px;
height: 24px;
top: 29px;
left: 786px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
text-underline-offset: 2.5px;
}

.place_head{
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}
.main_no_decor {
  text-decoration: none;
}